<a href="https://colab.research.google.com/github/adgsenpai/HomeMLSalePricePrediction/blob/main/ML_model_to_evaluate_price_of_property.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working out ML model to evaluate price of property

### Our dataset

In [60]:
import pandas as pd
df = pd.read_csv('data.csv')
# drop cash column
df = df.drop(columns=['Cash'])
df

,Street Address,Township,Erf I Portion,Sales Date,Reg Date,Sales Price,Size,R/m^2,Distance,Bedroom,Bath,Garage,HomeM
0,214 7TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,594 0,20211018,20220128.0,R 1200000,495,R 2 424,94,7.0,7.0,2,300
1,77 9TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,987 0,20220110,20220215.0,R 950 000,495,R 919,123,NaN,NaN,NaN,-
2,212 7TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,592 0,20210716,20220309.0,R 1 200 000,495,R 2 424,103,3.0,2.0,1,-
3,225 8TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,605 0,20210803,20211025.0,R 1 075 000,495,R2 172,69,3.0,2.0,-,-
4,193 8TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,573 0,20211214,NaN,R 1 500 000,495,R3030,248,3.0,2.5,NaN,200
5,276 8TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,942 0,20220520,NaN,R 1 350 000,495,R 2727,478,1.0,3.0,1,221
6,122 9TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1123 0,20211218,20220316.0,R 1 225 000,495,R 2475,407,3.0,3.0,1,-
7,17 ORLANDO STREET KENSINGTON,KENSINGTON,2515 0,20220121,20220328.0,R 1 280 000,495,R 2 586,442,3.0,3.0,1,237
8,224 8TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,890 0,20201224,20210407.0,R 1 250 000,495,R 2525,32,4.0,2.0,1,-
9,66 ALBERTINA SISULU ROAD BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,977 0,20211021,20211210.0,R 1 420 000,495,R 2 869,290,3.0,0.0,NaN,264
10,40 10TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1148 0,20210803,20211112.0,R 1 100 000,495,R 2 222,231,3.0,2.0,1,180
11,64 ALBERTINA SISULU ROAD BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,976 0,20210714,20211102.0,R1 250 000,495,R 2525,304,6.0,6.0,NaN,218
12,2 7TH STREET BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1131 0,20210806,20211115.0,R 1 300 000,495,R 2626,322,4.0,1.0,1,269
13,177 7TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,285 0,20220422,NaN,R 900 000,495,R 1 818,391,3.0,2.0,1,-
14,35 8TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,587 0,20210226,20210624.0,R 1 400 000,495,R 2828,124,3.0,2.0,2,-
15,258 7TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,638,20210618,20210906.0,R1 250 000,495,R 2525,328,2.0,1.0,NaN,97
16,83 10TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1104 0,20210919,20220309.0,R 950000,495,R 919,297,3.0,3.0,1,105
17,68 9TH IVANUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1069 0,20210218,20210419.0,R 1000000,495,R 020,158,4.0,4.0,2,-
18,16 11TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1221 0,20210610,20211007.0,R 1325 000,543,R 440,303,3.0,3.0,1,356
19,221 8TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,601 10,20200701,20201013.0,R 1 270 000,495,R 2566,53,3.0,3.0,-,-

### Cleaning up dataset only using data where we got HomeM values

In [61]:
# drop df where HomeM is -
df = df[df['HomeM'] != '-']
df
# drop index
df = df.reset_index(drop=True)
df

,Street Address,Township,Erf I Portion,Sales Date,Reg Date,Sales Price,Size,R/m^2,Distance,Bedroom,Bath,Garage,HomeM
0,214 7TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,594 0,20211018,20220128.0,R 1200000,495,R 2 424,94,7.0,7.0,2,300
1,193 8TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,573 0,20211214,NaN,R 1 500 000,495,R3030,248,3.0,2.5,NaN,200
2,276 8TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,942 0,20220520,NaN,R 1 350 000,495,R 2727,478,1.0,3.0,1,221
3,17 ORLANDO STREET KENSINGTON,KENSINGTON,2515 0,20220121,20220328.0,R 1 280 000,495,R 2 586,442,3.0,3.0,1,237
4,66 ALBERTINA SISULU ROAD BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,977 0,20211021,20211210.0,R 1 420 000,495,R 2 869,290,3.0,0.0,NaN,264
5,40 10TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1148 0,20210803,20211112.0,R 1 100 000,495,R 2 222,231,3.0,2.0,1,180
6,64 ALBERTINA SISULU ROAD BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,976 0,20210714,20211102.0,R1 250 000,495,R 2525,304,6.0,6.0,NaN,218
7,2 7TH STREET BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1131 0,20210806,20211115.0,R 1 300 000,495,R 2626,322,4.0,1.0,1,269
8,258 7TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,638,20210618,20210906.0,R1 250 000,495,R 2525,328,2.0,1.0,NaN,97
9,83 10TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1104 0,20210919,20220309.0,R 950000,495,R 919,297,3.0,3.0,1,105
10,16 11TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1221 0,20210610,20211007.0,R 1325 000,543,R 440,303,3.0,3.0,1,356

### Calculating R/HomeM Column

In [62]:
# calc Sales Price / HomeM
# convert Sales Price to float
df['Sales Price'] = df['Sales Price'].str.replace('R','')
# remove spaces from Sales Price
df['Sales Price'] = df['Sales Price'].str.replace(' ','')
df['R/HomeM'] = df['Sales Price'].astype(float) / df['HomeM'].astype(float)
df

,Street Address,Township,Erf I Portion,Sales Date,Reg Date,Sales Price,Size,R/m^2,Distance,Bedroom,Bath,Garage,HomeM,R/HomeM
0,214 7TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,594 0,20211018,20220128.0,1200000,495,R 2 424,94,7.0,7.0,2,300,4000.000000
1,193 8TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,573 0,20211214,NaN,1500000,495,R3030,248,3.0,2.5,NaN,200,7500.000000
2,276 8TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,942 0,20220520,NaN,1350000,495,R 2727,478,1.0,3.0,1,221,6108.597285
3,17 ORLANDO STREET KENSINGTON,KENSINGTON,2515 0,20220121,20220328.0,1280000,495,R 2 586,442,3.0,3.0,1,237,5400.843882
4,66 ALBERTINA SISULU ROAD BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,977 0,20211021,20211210.0,1420000,495,R 2 869,290,3.0,0.0,NaN,264,5378.787879
5,40 10TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1148 0,20210803,20211112.0,1100000,495,R 2 222,231,3.0,2.0,1,180,6111.111111
6,64 ALBERTINA SISULU ROAD BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,976 0,20210714,20211102.0,1250000,495,R 2525,304,6.0,6.0,NaN,218,5733.944954
7,2 7TH STREET BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1131 0,20210806,20211115.0,1300000,495,R 2626,322,4.0,1.0,1,269,4832.713755
8,258 7TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,638,20210618,20210906.0,1250000,495,R 2525,328,2.0,1.0,NaN,97,12886.597938
9,83 10TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1104 0,20210919,20220309.0,950000,495,R 919,297,3.0,3.0,1,105,9047.619048
10,16 11TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1221 0,20210610,20211007.0,1325000,543,R 440,303,3.0,3.0,1,356,3721.910112

### Average R/HomeM

In [63]:
print('R' + str(df['R/HomeM'].mean())) 
#248 495

R6429.284178520146

### Seperating Erf and Portion into seperate columns

In [64]:
df['Erf'] = df['Erf I Portion'].str.split(' ').str[0]
df['Portion'] = df['Erf I Portion'].str.split(' ').str[1]
df

,Street Address,Township,Erf I Portion,Sales Date,Reg Date,Sales Price,Size,R/m^2,Distance,Bedroom,Bath,Garage,HomeM,R/HomeM,Erf,Portion
0,214 7TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,594 0,20211018,20220128.0,1200000,495,R 2 424,94,7.0,7.0,2,300,4000.000000,594,0
1,193 8TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,573 0,20211214,NaN,1500000,495,R3030,248,3.0,2.5,NaN,200,7500.000000,573,0
2,276 8TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,942 0,20220520,NaN,1350000,495,R 2727,478,1.0,3.0,1,221,6108.597285,942,0
3,17 ORLANDO STREET KENSINGTON,KENSINGTON,2515 0,20220121,20220328.0,1280000,495,R 2 586,442,3.0,3.0,1,237,5400.843882,2515,0
4,66 ALBERTINA SISULU ROAD BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,977 0,20211021,20211210.0,1420000,495,R 2 869,290,3.0,0.0,NaN,264,5378.787879,977,0
5,40 10TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1148 0,20210803,20211112.0,1100000,495,R 2 222,231,3.0,2.0,1,180,6111.111111,1148,0
6,64 ALBERTINA SISULU ROAD BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,976 0,20210714,20211102.0,1250000,495,R 2525,304,6.0,6.0,NaN,218,5733.944954,976,0
7,2 7TH STREET BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1131 0,20210806,20211115.0,1300000,495,R 2626,322,4.0,1.0,1,269,4832.713755,1131,0
8,258 7TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,638,20210618,20210906.0,1250000,495,R 2525,328,2.0,1.0,NaN,97,12886.597938,638,NaN
9,83 10TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1104 0,20210919,20220309.0,950000,495,R 919,297,3.0,3.0,1,105,9047.619048,1104,0
10,16 11TH AVENUE BEZUIDENHOUT VALLEY,BEZUIDENHOUT VALLEY,1221 0,20210610,20211007.0,1325000,543,R 440,303,3.0,3.0,1,356,3721.910112,1221,0

# Replace all NaNs to 0

In [65]:
df = df.fillna(0)

### Building machine learning model to predict price of property using `HomeM,Erf,Bedroom,Garage,Bathroom`

In [106]:
# use polynomial linear regression to predict home sales price
from sklearn.linear_model import LinearRegression
X = df[['HomeM','Erf','Bedroom','Garage','Bath']]
y = df['Sales Price']
model = LinearRegression()
model.fit(X,y)
# predict home sales price
prediction = model.predict([[248,495,5,1,4]])[0]
prediction = round(prediction,2)

print('R',prediction)
print("Model Accuracy is :",model.score(X,y))

R 1251315.92
Model Accuracy is : 0.7149720907585728